.list{
    background-color: #ececec;
    display: flex;
    width: 100%;
    justify-content: start;
    align-content:space-between;
    align-items: center;
    flex-direction: column;
}
.lelement{    
    background-color: #c0c0c0;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;

    width: 70%;
    height: 100px;
    margin-top: 5px;

    border-radius: 10px;

    font-size: 25px;
}
.texto{
    font-size: 20px;
}
.icon {
    margin: 2px 5px 2px 50px;
    cursor: pointer;
}
.informacion{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 30px;
}
