<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} Automóvil</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form #formAutos = "ngForm">
    <div class="form-group">
      <label for="Marca">Marca</label>
      <input type="text" class="form-control" id="marca" placeholder="Agrega la Marca" [(ngModel)]="auto.marca" name="marca">
    </div>
    <div class="form-group">
      <label for="Marca">Submarca</label>
      <input type="text" class="form-control" id="submarca" placeholder="Agrega la Submarca" [(ngModel)]="auto.submarca" name="submarca">
    </div>
    <div class="form-group">
      <label for="Marca">Modelos</label>
      <input type="text" disabled class="form-control" id="modelos" placeholder="Agrega el Modelo" [(ngModel)]="auto.modelos" name="modelos">
    </div>
    <div class="form-group">
      <label for="Marca">Descripción</label>
      <input type="text" class="form-control" id="descripcion" placeholder="Agrega la Descripción" [(ngModel)]="auto.descripcion" name="descripcion">
    </div>
  </form>    
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="activeModal.close(auto)">Guardar</button>  
</div>